/*
 * Style for Contact Form
 */
@media all {
  /* line 8, ../sass/contact-form.scss */
  [required] {
    color: red;
    box-shadow: none;
  }

  /* line 13, ../sass/contact-form.scss */
  .encodeon-form {
    margin: auto;
    width: 75%;
  }
  /* line 18, ../sass/contact-form.scss */
  .encodeon-form h1 {
    text-align: center;
  }
  /* line 23, ../sass/contact-form.scss */
  .encodeon-form .field.hidden {
    display: none;
  }
  /* line 28, ../sass/contact-form.scss */
  .encodeon-form .required {
    color: #FF0000;
  }
  /* line 33, ../sass/contact-form.scss */
  .encodeon-form .row {
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 39, ../sass/contact-form.scss */
  .encodeon-form .label-container {
    display: table-cell;
    vertical-align: middle;
    min-width: 80px;
    white-space: nowrap;
  }
  /* line 47, ../sass/contact-form.scss */
  .encodeon-form .input-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  /* line 54, ../sass/contact-form.scss */
  .encodeon-form .double .label-container {
    display: block;
    text-align: center;
  }
  /* line 60, ../sass/contact-form.scss */
  .encodeon-form .double .input-container {
    display: block;
  }
  /* line 65, ../sass/contact-form.scss */
  .encodeon-form .row.submit {
    text-align: center;
  }
  /* line 69, ../sass/contact-form.scss */
  .encodeon-form .row.submit button {
    font-size: 1.5em;
    padding: 10px 20px;
  }
  /* line 76, ../sass/contact-form.scss */
  .encodeon-form input[type='text'],
  .encodeon-form input[type='tel'],
  .encodeon-form input[type='email'],
  .encodeon-form textarea {
    padding: 7px 14px;
    width: 100%;
  }
  /* line 85, ../sass/contact-form.scss */
  .encodeon-form .form-response {
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  /* line 94, ../sass/contact-form.scss */
  .encodeon-form {
    width: 90%;
  }
  /* line 98, ../sass/contact-form.scss */
  .encodeon-form .input-container, .encodeon-form .label-container {
    display: block;
  }
  /* line 103, ../sass/contact-form.scss */
  .encodeon-form .label-container {
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
  }
}
